* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.container {
    border: 1px solid black;
    margin: 10px;
    height: 500px;
    width: 1000px;

    display: flex;
}

.box-img {
    background-color: red;
    width: 75%;
}

.sidebar{
    background-color: blue;
    width: 25%;
    position: relative;
}

.side-imgs{
    height: calc(100% / 5);
    border: solid 1px white;
}

.active {
    display: flex;
}

.buttonbox {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    
}

button {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;

}

.next-img {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-75%, -50%);
}

.prev-img {
    position: absolute;
    right: 0;
    top: 100% ;
    transform: translate(-75%, -50%);
}


